body {
    text-align: center;
    margin: 0px;
    font-family: "Imbue";
    font-size: 30px;
    background-image: url(..//ronaldsdaddy.github.io/bilde3.jpg);
}



.about {
    padding: 0px;
}

.projects {
   
    padding: 10px;
}

.project-thumbnail {
    width: 400px;
    height: auto;
    border-radius: 50%;
    

}

.project-thumbnail2 {
    width: 500px;
    border-radius: 25%;
    padding: 10px;
}

p{
    color:white;
}
.project {
  
}

.button {
  display: inline-block;
  padding:0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'roboto' , sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}

.button:hover{
    color: #b41a1a;
    border-color: #dddd;
}